.places {
  max-width: 1000px;
  margin: 30px auto;
}

.places h1 {
  font-size: 30px;
  padding-left: 10px;
}

.places .articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.places article {
  position: relative;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}
.places article > h2 {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.places article .price_by_night {
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5a5f;
  font-size: 30px;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  min-width: 70px;
  height: 70px;
}

.information {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 5px 0;
  margin-bottom: 20px;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.max_guest .info_icon {
  width: 50px;
  height: 50px;
  background-image: url("../images/icon_group.png");
  background-repeat: no-repeat;
}
.number_rooms .info_icon {
  width: 50px;
  height: 50px;
  background-image: url("../images/icon_bed.png");
  background-repeat: no-repeat;
}
.number_bathrooms .info_icon {
  width: 50px;
  height: 50px;
  background-image: url("../images/icon_bath.png");
  background-repeat: no-repeat;
}
.user {
  margin-bottom: 13px;
}
.user span {
  font-weight: bold;
}
.articles article .description {
  margin-bottom: 30px;
}

.articles article :is(.amenities, .reviews) h2 {
  font-size: 16px;
  padding: 5px 0;
  border-bottom: 1px solid #dddddd;
}

.articles article :is(.amenities, .reviews) ul {
  list-style: none;
  padding: 15px 0;
  margin-bottom: 25px;
}
.articles article .amenities ul li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  padding: 5px 0;
}

.articles article .amenities .tv_icon {
  width: 30px;
  height: 30px;
  background-image: url("../images/icon_tv.png");
  background-repeat: no-repeat;
  background-size: 30px;
}
.articles article .amenities .wifi_icon {
  width: 30px;
  height: 30px;
  background-image: url("../images/icon_wifi.png");
  background-repeat: no-repeat;
  background-size: 30px;
}
.articles article .amenities .pets_icon {
  width: 30px;
  height: 30px;
  background-image: url("../images/icon_pets.png");
  background-repeat: no-repeat;
  background-size: 30px;
}
.articles article .reviews ul li {
  padding: 5px 0;
}

.articles article .reviews ul li h3 {
  font-size: 14px;
  margin-bottom: 4px;
}
.articles article .reviews ul li p {
  line-height: 16px;
  font-size: 12px;
}

@media screen and (width < 460px) {
  .places article > h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .places article .price_by_night {
    font-size: 24px;
    top: 8px;
    right: 8px;
    min-width: 50px;
    height: 50px;
  }
  .places h1 {
    padding-left: 20px;
  }
}
