header {
  background-color: white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}

header .logo {
  background-image: url("../images/logo.png");
  width: 100px;
  height: 100%;
  margin-left: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (width < 480px) {
  header {
    justify-content: center;
  }
}
